Indefere a Reginaldo Alves de Assis, a outorga de direito de uso de recursos hídricos subterrânea, para fins de irrigação paisagística.

 

O SUPERINTENDENTE DE RECURSOS HÍDRICOS DA AGÊNCIA REGULADORA DE ÁGUAS, ENERGIA E SANEAMENTO BÁSICO DO DISTRITO FEDERAL – ADASA, no uso de suas atribuições regimentais e com base na competência que lhe foi delegada pela Diretoria Colegiada, nos termos da Resolução nº 02, de 25 de janeiro de 2019, c/c Portaria nº 49, de 02 de maio de 2019 e com base no art. 12 da Lei nº 2.725, de 13 de junho de 2001, e inciso VII do art. 23 da Lei nº 4.285, de 26 de dezembro de 2008, tendo em vista o que consta do Processo SEI nº 00197-00001305/2024-55, resolve:

 

Art. 1º. Indeferir à Reginaldo Alves de Assis, CPF/CNPJ: 186.205.741-91, o direito de uso de água subterrânea por meio de 01 (um) poço manual, para fins de irrigação paisagística, localizado no Condomínio RK, Conjunto Centaurus, Quadra H, Casa 01, Sobradinho – Distrito Federal, em conformidade com o Artigo 19 da Resolução ADASA nº 350/2006 e o artigo 6°, § 1º da Resolução ADASA nº 16/2018 – norma complementar à Resolução nº 350/2006.

 

Art. 2º. O poço manual deverá ser obturado no prazo de 90 (noventa) dias, contados da publicação do extrato do despacho no Diário Oficial do Distrito Federal.

 

 

GUSTAVO ANTONIO CARNEIRO

Superintendente de Recursos Hídricos